<!DOCTYPE html>
<document>
    <head>
        <title>Fizzsanger</title>
    </head>
    <body>
        <p>Registration</p>
        <label>Login: </label>
        <input id="user_login" type="text" required>
        <br>
        <label>Password: </label>
        <input id="user_password" type="password" required>
        <br>
        <button onClick="registerUser()">Send</button>

        <p>Authentification</p>
        <label>Login: </label>
        <input id="auth_user_login" type="text" required>
        <br>
        <label>Password: </label>
        <input id="auth_user_password" type="password" required>
        <br>
        <button onClick="authentificateUser()">Send</button>

        <p>Get Chat List</p>
        <button onClick="getUserChats()">Get Chats</button>

        <script>
            function registerUser() {
                let userLogin = document.getElementById("user_login").value;
                let userPassword = document.getElementById("user_password").value;
                
                let xhttp = new XMLHttpRequest()
                xhttp.open("POST", "http://localhost:8080/register", true, "", "")
                xhttp.setRequestHeader("Content-Type", "application/json")
                xhttp.send("{\"login\":\"" + userLogin + "\", \"password\":\"" + userPassword + "\"}")
            }

            function authentificateUser() {
                let userLogin = document.getElementById("auth_user_login").value;
                let userPassword = document.getElementById("auth_user_password").value;
                
                let xhttp = new XMLHttpRequest()
                xhttp.open("POST", "http://localhost:8080/login", true, "", "")
                xhttp.setRequestHeader("Content-Type", "application/json")
                xhttp.send("{\"login\":\"" + userLogin + "\", \"password\":\"" + userPassword + "\"}")
            }

            function getUserChats() {
                documentCookies = document.cookie
                let xhttp = new XMLHttpRequest()
                
                xhttp.open("GET", "http://localhost:8080/chats", true, "", "")
                xhttp.setRequestHeader("Content-Type", "application/json")
                xhttp.send()
            }
        </script>
    </body>
</document>